@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'fira';
    src: url('../fonts/FiraSans-Regular.woff');
}


	#nav1 .selector {
		height: 46px;
		width: 58px;
	}
	nav.main ul {
		display: block;
	}
	nav.main .selector{
		display: none;
	}
	#page-wrap .caja_visor {
		margin-left: 0.5em;
		padding-right: 8px;
		padding-left: 8px;
		float: left;
		width: 38%;
		height: 98%;
	}
	#page-wrap #nav1 ul#menu {
		list-style-type: none;
		margin: 0px;
		padding-left: 1em;
		display: block;
	}
	#page-wrap .caja {
		padding-right: 7px;
		padding-bottom: 7px;
		padding-left: 7px;
		float: left;
		width: 60%;
		height: 98%;
	}
	#page-wrap .caja .area #editor {
	  width: 100%;
	}
	#page-wrap #iframe {
	width: 100%;
	}
	#cvisor{
	  display: block;
	  }
	.caja_visor #cerrar {
	  background-color: #4C4C4C;
	  display: none;
	}
	.caja_visor #texto_resultado{
	  margin: 12px 0 6px 12px;
	}
	#page-wrap #navtop ul {
		padding: 0;
		margin: 0 0 5px 0;
		height: 35px;
	}
	#page-wrap #navtop ul li {
		display: inline;
	}
  #page-wrap #navtop ul li .moduleactive{
  	background-color: #4dbcc9;
  }

	#page-wrap #navtop ul li a {
		display: block;
		float: left;
		background-color: #9c9a8c;
		padding: 0.4em;
		color: #FFF;
		text-decoration: none;
		margin-right: 0.4em;
		outline: none;
		font-size: small;
	}
	#page-wrap #navtop ul li a i{
		margin-right: 5px;
	}
	#page-wrap #navtop ul li a:hover {
		color: #4C4C4C;
		background-color: #FC0;
	}
	#page-wrap #navtop ul a.active {
		background-color: #4c4c4c;
	}
	#page-wrap #navtop ul a:hover.active  {
		background-color: #4c4c4c;
		color: #FFF;
	}
	#page-wrap #nav1 ul li {
		display: inline;
	}
	#page-wrap #nav1 ul li a {
		display: block;
		float: left;
		background-color: #9c9a8c;
		padding: 0.4em;
		color: #FFF;
		text-decoration: none;
		margin-right: 0.4em;
		/*-webkit-border-radius: 5px 5px 0px 0px;
		border-radius: 5px 5px 0px 0px;*/
		font-size: small;
		outline: none;
	}
	#page-wrap #nav1 ul li a:hover {
		color: #4C4C4C;
		background-color: #FC0;
	}
	#page-wrap #nav1 ul a.active {
		background-color: #4c4c4c;
	}
	#page-wrap #nav1 ul a:hover.active  {
		background-color: #4c4c4c;
		color: #FFF;
	}


.clear {
	clear: both;
}
html{
	height: 100%;
}
body{
	font-family: fira;
	height: 96%;
	background-color: #ddd !important;
}
#page-wrap {
	width: 100%;
	height: 100%;
}

#botonera {
  width: 100%;
  min-height: 40px;
  border-bottom: 1px solid gray;
  background: #ccc;

}

.main p{
	font-size: small;
}

#page-wrap .caja {
	background-color: #4c4c4c;
	/*-webkit-border-radius: 5px;
	border-radius: 5px;*/
}
.action_button {
	height: 40px;

	float: right;

	padding: 9px 13px;
	margin: 0;
	cursor: pointer;
}
.caja_visor #cerrar {
	height: 26px;
	width: 26px;
	float: right;
	margin: 0.2em;
}
.action_button:hover, #cerrar:hover {
	background-color: #FC0;
}
.caja #texto_ejemplo{
	float: left;
	color: white;
	margin: 12px 0 6px 12px;
	font-size: small;
}
.caja #titulo_ejemplo{
	float: left;
	color: #FC0;
	margin: 12px 0 6px 12px;
	font-size: small;
	font-weight: bold;
}

.caja_visor #texto_resultado{
	float:left;
	color: white;
	font-size: small;
}
#page-wrap .caja .area {
	clear: both;
	height: 93%;
}
#page-wrap .caja .area #editor {
	height: 96%;
}
#page-wrap .caja_visor {
	background-color: #4C4C4C;
	padding-bottom: 36px;
	/*-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;*/

}
#page-wrap #iframe {
	background-color: #FFF;
	height: 95%;
	padding: 5px;
}
#descripcion {
	margin-top: 1em;
	background-color: #e9e9e9;
	background-image: url(../images/paper.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	-webkit-border-radius: 5px 5px 0px 5px;
	border-radius: 5px 5px 0px 5px;
	color: #5B6770;
	padding-top: 1ex;
	padding-right: 2ex;
	padding-bottom: 1ex;
	padding-left: 2ex;
}
#descripcion h2 {
	font-size: 1.2em;
	margin: 0px;
	padding: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #666;
}

#page-wrap .contenedor {
	position: relative;
	height: 91%;
	width: 100%;
	padding: 0 5px;
}

#fileInput {
	display: none;
}

#cvisor{
	left: 0px !important;
}

.selected{
  background: #4dbcc9;
  color: white;
}
.separador{
	border-left: 1px solid gray;
}

select{
	margin: 8px !important;
}

.runner{
	background-color: #4dbcc9;
}





